In [11]:
# Alroy Pereira
# 9631 SE COMPS A
# EXPT 1 LIST_TUPLE_SET_DICT

num1 = input("Enter a 2 digit number")
ldigit=list((num1))
print("The first digit is "+ldigit[0]+"\nThe second digit is "+ldigit[1])

Enter a 2 digit number45
The first digit is 4
The second digit is 5

In [13]:
num1 = input("Enter a 2 digit number")
ldigit=tuple((num1))
print("The first digit is "+ldigit[0]+"\nThe second digit is "+ldigit[1])

Enter a 2 digit number78
The first digit is 7
The second digit is 8

In [10]:
num1 = input("Enter a number")
ldigit=list(str(num1))
print(len(ldigit))

Enter a number4567
4

In [18]:
l=[1,2,3,4,5,6,7,8,9]

lodd=[i**2 for i in l if (i%2!=0)]
print(lodd)
leven=[i**2 for i in l if (i%2!=1)]
print(leven)

[1, 9, 25, 49, 81]
[4, 16, 36, 64]

In [24]:
week=["sun","mon","tue","wed","thur","fri","sat"]
day=input("Enter a day: ")
d=day.lower()
if(d in week):
    print("The day is present")
else:
    print("Day is not present")

Enter a day: Mon
The day is present

In [52]:
x=(1,2,3)
print(x)
l=list(x)
del(l[2])
l.extend(["apple","orange"])
print(l)

(1, 2, 3)
[1, 2, 'apple', 'orange']

In [39]:
a=67
b=77
print("a="+str(a)+" b="+str(b))
a,b=b,a
print("a="+str(a)+" b="+str(b))

a=67 b=77
a=77 b=67

In [44]:
formats = {"txt":"text file","png":"image file","py":"python file"}
print(formats)
formats.update({"doc":"Word file"})
print(formats)

{'txt': 'text file', 'png': 'image file', 'py': 'python file'}
{'txt': 'text file', 'png': 'image file', 'py': 'python file', 'doc': 'Word file'}

In [56]:
set1={"Jovan","Nathan","Aaron","Bastu","Sidhu"}
set2={"Vivek","Ulhas","Aaron","Alroy"}
print(set1)
print(set2)
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{'Jovan', 'Nathan', 'Aaron', 'Sidhu', 'Bastu'}
{'Aaron', 'Alroy', 'Ulhas', 'Vivek'}
{'Alroy', 'Ulhas', 'Jovan', 'Vivek', 'Nathan', 'Sidhu', 'Bastu', 'Aaron'}
{'Aaron'}
{'Bastu', 'Sidhu', 'Jovan', 'Nathan'}
{'Alroy', 'Ulhas', 'Jovan', 'Vivek', 'Nathan', 'Sidhu', 'Bastu'}

In [8]:
from datetime import datetime

def con_date(indate):
    dates = datetime.strptime(indate, '%d %b, %Y')
    return (dates.year, dates.month, dates.day)

indate = '6 Nov, 2008'
tupdate = con_date(indate)
print(tupdate)

(2008, 11, 6)